@font-face {
    font-family: "LGfont";
    src: url("LeagueGothic.ttf") format("truetype");
}

body {
    margin: 0px;
    padding: 0px;
}

.bgcolor {
    background-color: #9a9a9a;
    background-size: cover;
    height: 60px;
}

.button {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: LGfont;
    letter-spacing: 5px;
    font-size: 45px;
    text-shadow: 4px 4px 5px #505050;
    color: #505050;
    border: 0;
    border-radius: 0;
    background: #9a9a9a;
    top: 0px;
}

.homebutton {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: LGfont;
    letter-spacing: 4px;
    font-size: 45px;
    color: #fff;
    border: 0;
    border-radius: 0;
    background: #9a9a9a;
    top: 0px;
    left: 300px;
}